* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

h1 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

h3 {
  text-align: left;
}

.container {
  width: 30%;
}

.form,
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  margin: 0.5rem 0rem;
  padding: 0.8rem 0.4rem;
  border-radius: 8px;
}

.btn {
  width: 100%;
  margin: 0.5rem 0rem;
  padding: 0.8rem 3rem;
  border-radius: 8px;
}

.btn-submit {
  background: rgb(57, 106, 237);
}